# NPM
dist/
package/

# macOS
.DS_Store

# Node
node_modules
npm-debug.log
yarn-error.log

# Emacs
*~

# Vim
.*.swp
.*.swo
.*.swn
.*.swm

# Sublime Text
*.sublime-project
*.sublime-workspace

# IDEA / Android Studio
*.iml
.gradle
.idea

# Eclipse
.project
.settings

# VSCode
.history/
